body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: bold;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.label {
  color: #888;
  margin-bottom: 10px;
}

#word {
  margin: 10px 0;
}

/* opciones */
.option {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  background: #e0e5ea;
  font-size: 16px;
}

.option.correct {
  background: #4CAF50;
  color: white;
}

.option.wrong {
  background: #f44336;
  color: white;
}

/* dots */
#dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d0d0d0;
}

.dot.active {
  background: #4CAF50;
}
